/* ==== 991px ==== */
@media (max-width: 991px) {
    /* ==================== header ==================== */
    .offcanvas.offcanvas-start {
        padding: 50px 40px;
    }
    .close-cart {
        margin-bottom: 25px;
    }
    /* offcanvas menu search form */
    .offcanvas-menu-search-form {
        display: block;
    }
    .offcanvas-body {
        padding: 0px;
    }
    .offcanvas-body .navbar-nav .nav-item.drop_down {
        line-height: 28px;
    }
    .offcanvas-body .navbar-nav li a {
        font-weight: 400;
        color: #7e7e7e !important;
    }
    .offcanvas-body .navbar-nav li:hover > a {
        color: #146cda !important;
    }
    .offcanvas-body .navbar-nav li:hover > .menu-expand::after,
    .offcanvas-body .navbar-nav li:hover > .menu-expand::before {
        background-color: #146cda !important;
    }
    .offcanvas-body .navbar-nav li a .sub-menu-icon {
        display: none;
    }
    .menu-expand {
        display: block;
    }
    /* Dropdown 2 */
    .dropdown-sub-menu {
        position: static;
        opacity: 1;
        visibility: visible;
        border: none;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transition: all .6s ease-out !important;
        -webkit-transition: all .6s ease-out !important;
        -moz-transition: all .6s ease-out !important;
        -ms-transition: all .6s ease-out !important;
        -o-transition: all .6s ease-out !important;
    }
    .dropdown-sub-menu.active {
        max-height: 400px;
    }
    .dropdown-sub-menu li {
        border-bottom: none;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .dropdown-sub-menu li a {
        padding: 8px 24px 8px 0;
    }
    .dropdown-sub-menu li:hover > a {
        color: #146cda !important;
        padding-left: 0;
    }
    .sub-menu-sub {
        display: none !important;
    }
    .sub-menu-sub-line_2 {
        display: block;
    }
    .sub-menu li ul.sub-menu-sub-line_2 {
        display: inherit;
        list-style-type: none;
    }
    .sub-menu-sub-line_2 li a span {
        margin: 0 !important;
        font-weight: 400;
    }
    .sub-menu {
        padding: 0 20px !important;
        min-width: 0px;
    }
    .sub-menu li {
        margin: 0 !important;
    }
    .sub-menu li li a.sub-menu-head span {
        text-transform: capitalize;
        cursor: pointer;
        font-weight: 400;
        margin: 0 !important;
        transition: all linear 0.3s;
        -webkit-transition: all linear 0.3s;
        -moz-transition: all linear 0.3s;
        -ms-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
    }
    .sub-menu li li a.sub-menu-head span:hover {
        padding: 8px 24px 8px 0 !important;
        color: #146cda;
    }
    .images {
        display: none;
    }
    .sub_menu-hiden {
        display: none !important;
    }
    .sub_menu-visible {
        display: block !important;
    }
    /* offcanvas buttons */
    .offcanvas-buttons {
        margin-top: 30px;
        display: block !important;
    }
    .offcanvas-buttons .header-tools .cart-info a {
        font-size: 25px !important;
        color: #1d1d1d;
        transition: all linear 0.3s;
        -webkit-transition: all linear 0.3s;
        -moz-transition: all linear 0.3s;
        -ms-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
    }
    .offcanvas-buttons .header-tools .cart-info a:hover {
        color: #146cda;
    }
    .offcanvas-buttons .header-tools .cart-info .cart_in.space {
        margin-left: 15px !important;
    }
    .offcanvas-buttons .header-tools .cart-info .cart_in .ico-cart {
        font-size: 25px !important;
    }
    .offcanvas-buttons .header-tools .cart-info .cart_in::before {
        bottom: 16px;
        left: 17px;
    }
    /* offcanvas social */
    .offcanvas-social {
        margin-top: 28px;
        display: block !important;
    }
    .offcanvas-social ul li {
        display: inline-block;
        margin: 0 10px 10px 0;
        line-height: 40px;
        padding: 0;
    }
    .offcanvas-social ul li a {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        background: #247cea;
        font-size: 16px;
        padding: 0;
        line-height: 43px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        text-align: center;
        border: none;
        z-index: 1;
        transition: all 300ms linear;
    }
    .offcanvas-social ul li a:hover {
        background: #1d1d1d;
    }
    .offcanvas-social ul li a .fa-brands {
        font-size: 18px;
    }
}
/* ====  ==== */
@media (max-width: px) {}
/* ====  ==== */
@media (max-width: px) {}
/* ====  ==== */
@media (max-width: px) {}
/* ====  ==== */
@media (max-width: px) {}